{% extends "layout.html" %}

{% block content %}
<div class="container pt-2 pb-2">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
<div class="content-section">

<div class="row">
    <div class="col-sm-6 p-0 border shadow rounded">
        <div class="card">
            <div class="card-body" style="background-color: {% if smartplant.moistval < 500 %}rgba(255,200,200){% else %}rgb(220,255,220){% endif %};">
                {% include 'plantcard.html' %}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <form method="POST" action="">
                {{ lightsControlForm.hidden_tag() }}
                {{ lightsControlForm.isLightForm(class="invisible") }}
                <h2 class="text-center border-bottom font-weight-bold p-2 m-0">Lighting Control</h2>
                <table class="table">
                    <thead>
                        <th scope="option">Option</td>
                        <th scope="control">Control</td>
                    </thead>
                    <tr>
                        <td>{{ lightsControlForm.lightOn.label(class="form-control-label") }}</td>
                        <td>{{ lightsControlForm.lightOn(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                        <td>{{ lightsControlForm.lightMode.label(class="form-control-label") }}</td>
                        <td>
                            {% for subfield in lightsControlForm.lightMode %}
                                <div class="form-check">
                                    {{ subfield }}
                                    {{ subfield.label }}
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
                <div class="form-group rounded m-2 p-0">
                    {{ lightsControlForm.submit(class="btn btn-warning p-0 m-0 w-100 border shadow-sm") }}
                </div>
            </form>
        </div>

        <div class="card">
            <form method="POST" action="">
                {{ pumpControlForm.hidden_tag() }}
                {{ pumpControlForm.isPumpForm(class="invisible") }}
                <h2 class="text-center border-bottom font-weight-bold p-2 m-0">Waterpump Control</h2>
                <table class="table">
                    <thead>
                        <th scope="option">Option</td>
                        <th scope="control">Control</td>
                    </thead>
                    <tr>
                        <td>{{ pumpControlForm.pumpOn.label(class="form-control-label") }}</td>
                        <td>{{ pumpControlForm.pumpOn(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                        <td>{{ pumpControlForm.pumpMode.label(class="form-control-label") }}</td>
                        <td>
                            {% for subfield in pumpControlForm.pumpMode %}
                                <div class="form-check">
                                    {{ subfield }}
                                    {{ subfield.label }}
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ pumpControlForm.pumpSpeed.label(class="form-control-label") }}</td>
                        <td>
                            <div>
                                {{ pumpControlForm.pumpSpeed(min=0, max=255, oninput="outputUpdate(value)") }}
                                <output for="pumpSpeed" id="selected-pumpSpeed">{{ pumpControlForm.pumpSpeed.data }}</output>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="form-group rounded m-2 p-0">
                    {{ pumpControlForm.submit(class="btn btn-warning p-0 m-0 w-100 border shadow-sm") }}
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    Graph
</div>
    
    
</div>
</div>
{% endblock content %}