{% extends "layout.html" %}

{% block content %}
    <div class="w-100 pt-2 pb-2">
        
        <form method="post" class="row-fluid m-2 h-5 border shadow-sm rounded" action="/">
            <input type="submit" class="btn btn-primary" style="width: 100%; height: 50px" value="Scan and connect to Smartplant Devices">
        </form>
        <div class="row border shadow-sm m-2 p-2 bg-white">
            {% for smartplant in smartplants %}
            <div class="col-sm-6 p-0 m-2 border shadow rounded">
                <div class="card">
                    {% if smartplant.socketExists %}
                        <div class="card-body" style="background-color: {% if smartplant.moistval < 500 %}rgba(255,200,200){% else %}rgb(220,255,220){% endif %};">
                    {% else %}
                        <div class="card-body bg-secondary">
                    {% endif %}
                        
                        {% include 'plantcard.html' %}
                        
                        <a href="/control/{{ smartplant.guid }}" class="btn {% if smartplant.socketExists %}btn-primary{% else %}btn-dark disabled{% endif %}" style="width: 100%; height: 50px">Control Smart plant</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}